<html>
 <head>
  <title>Password Recovery Request</title>
 </head>
 <body>
  <h1>Password Recovery</h1>

  A request to recover your password for the MVPVirtualEvent.com web site has been received. If you did not make this request
  please ignore this message.<br><br>

  To reset your password, please click <a href="[BASE_URL]index.php?key=[RECOVERKEY]">here</a>.<br><br>

  If the above link does not work, please copy the link below:<br><br>

  [BASE_URL]index.php?key=[RECOVERKEY]<br><br>

  Please note that this link will expire at [EXPIRE_TIME]<br><br><br><br>

 </body>
</html>

