.route-fullscreen {
    position: absolute;
    display: none;
    opacity: 0;
    width: 100%;
    max-height: 100%;
    top:0px;
    z-index: 1;
}

.full-background-landscape {
    width: 100%;
}

.full-background-portrait {
    /* TODO */
}

.route-relative-container {
    position: relative;
}

/* ABSOLUTE BUTTONS */
.absolute-button-container {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.absolute-button{
    position: absolute;
    cursor: pointer;
}

/* SIDE BUTTONS */
.route-button-container {
    position: absolute;
    left: 0px;
    top: 75px;
}

.route-side-button {
    cursor: pointer;
    background:rgba(0, 0, 0, .6);
    color: #ffffff;
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1 solid #ffffff;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
}
