#welcomeModal {
    text-align: center;
    width: 450px;
}

.button-red {
    width: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background: rgba(236,26,43,1);
    cursor: pointer;
}

.main-menu-gradient {
    background: rgb(0,52,156);
    background: linear-gradient(0deg, rgba(0,52,156,1) 0%, rgba(0,83,220,1) 50%, rgba(0,52,156,1) 100%);
}

.testomonial-container {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.navigation-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-arrow {
    height: 50px;
}

.navigation-arrow {
    padding: 20px;
    height: 50px;
    z-index: 2;
}

.right-menu-item-red {
    color: white !important;
    font-weight: bold;
    background: rgba(236,26,43,1) !important;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
    0% { 
        transform:scale(1.1);
    }
    50% { 
        transform:scale(1.0);
    }
    100% { 
        transform:scale(1.1);
    }
}

/* OVERRIDES */
.fancybox-toolbar {
    opacity: 1 !important;
    visibility: visible !important;
    top: 10%;
    right: 4%;
}

.fancybox-button--close {
    opacity: 1;
    background: #000;
    border: 1px solid white;
}

.right-menu-item {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid white;
    color: black;
    background: linear-gradient(90deg, rgba(193,192,192,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(193,192,192,1) 100%);
}


.blob {
	display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgb(0 0 0);
    margin: 10px;
    height: 25px;
    width: 25px;
    min-width: 25px;
    min-height: 25px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
    opacity: 1;
}

.blob.blue {
	background: #0a2f87;
    box-shadow: 0 0 0 0 #0a2f87;
    animation: pulse-blue 2s infinite;
    border: 3px solid #FFF;
    opacity: 1;
    color: #FFF;
}

@keyframes pulse-blue {
	0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgb(52 172 224);
	}
	
	70% {
        transform: scale(1.2);
        box-shadow: 0 0 0 20px rgb(52 172 224 / 0%);
	}
	
	100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgb(52 172 224 / 0%);
	}
}

.blob-container {
    opacity: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa {
    margin-left: 3px;
}

