/* Jquery UI */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #000000 !important;
    background: #000000 !important;
}

.tt {
    color: white;
    background: #F9F65D;
    width: 25px;
    border-radius: 15px;
    text-align: center;
    margin-left: 4px;
    cursor: pointer;
    transform: scale(.6);
}

.ui-tooltip {
    z-index: 999999999 !important;
}

.zoom-container {
    display: none;
    width: 100%;
    height: 100%;
}

.zoom-flex {
    width: 100%;
    height: 100%;
    background: #2E8CFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teams-container {
    display: none;
    width: 100%;
    height: 100%;
}

.teams-flex {
    width: 100%;
    height: 100%;
    background: #3F4790;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teams-img {
    width: 220px;
    cursor: pointer;
}

.teams-participate-text {
    color: #FFF;
    font-weight: bold;
    margin-top: 5px;
}

.teams-text {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.room-dropdown {
    padding: 20px;
    text-align: left;
    color: black;
  }
  
.chat-dropdown {
    margin-left: 30px;
}

.zoom-badge {
    position: absolute;
    background: red;
    color: #FFF;
    top: 217px;
    right: 294px;
    padding:5px 10px;
    border-radius:40px;
}

.zoom-img {
    width: 220px;
    cursor: pointer;
}

.zoom-participate-text {
    color: #FFF;
    font-weight: bold;
    margin-top: 5px;
}

.zoom-text {
    color: white;
    font-size: 20px;
    cursor: pointer;
}


/* User Account Dropdown */


.user-profile {
    min-width: 150px;
    text-align: right;
}

.user-profile-container {
    margin: auto;
    margin-right: 20px;
}

.subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 23px -2px #707070;
    -moz-box-shadow: 0px 0px 23px -2px #707070;
    box-shadow: 0px 0px 23px -2px #707070;
}
.subnav ul {
    list-style-type: none;
    padding: 5px 30px;
}

.subnav-button {
    cursor: pointer;
    color: #000000;
    padding: 5px 0px;
}


.arrow {
    display: none;
    position: absolute;
    left: 75px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    z-index: 1;
}

.profile-modal {
    width: 500px;
    color:#000000;
}

.profile-information {
    display: flex;
}

.profile-titles {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.profile-title {
    margin-bottom: 5px;
}

.profile-values {
    display: flex;
    flex-direction: column;
}

.profile-value {
    font-weight: bold;
    margin-bottom: 5px;
}

.update-password-input-container {
    display: none;
    border: 1px solid #e0e0e0;
    padding: 18px;
}

.update-password-message {
    display: none;
    margin-top: 20px;
    font-weight: bold;
}

.update-booth-button {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:10px;
}

body {
    position: relative;
    background: #000000;
    margin: 0px;
    padding: 0px;
    height: 100%;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    /* overflow: hidden; */
}

.header {
    z-index: 1000;
    position:fixed;
    width: 100%;
    height: 60px;
    background: rgb(0, 0, 0);
    font-size: 1vw;
}

.button-green {
    display: inline-block;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    background-color: #78bf26;
    padding:10px;
    font-weight: bold;
    margin-right: 20px;
    margin-top:20px;
}

.main-menu {
    margin-left: 20px;
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
}

.menu-logo {
    margin-right: 50px;
    max-height: 50px;
    cursor: pointer;
}

.menu-item {
    margin-right: 30px;
    cursor: pointer;
}

.fullscreen {
    z-index: 1;
    position: absolute;
    width: 100%;
    top:0px; /*top:50px;*/
    max-height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.transparent {
    opacity: 0;
}

.netowrking-lounge {
    opacity: 0;
}

.exterior {
    opacity: 0;
}

.exterior-fly-in-video-player-container {
    opacity: 0;
}

.exteriorlogin {
    opacity: 0;
}

.lobby {
    opacity: 0;
}



.breakout-main {
    opacity: 0;
}

.breakout1 {
    opacity: 0;
}

.breakout2 {
    opacity: 0;
}

.breakout3 {
    opacity: 0;
}

.exhibit-hall {
    opacity: 0;
}

.booth-bronze {
    opacity: 0;
}

.booth-silver {
    opacity: 0;
}

.booth-gold {
    opacity: 0;
}

.booth-diamond {
    opacity: 0;
}

.booth-diamond-plus {
    opacity: 0;
}

.booth-platinum-plus {
    opacity: 0;
}

.booth1 {
    opacity: 0;
}

.booth2 {
    opacity: 0;
}

.booth3 {
    opacity: 0;
}

.booth4 {
    opacity: 0;
}

.booth5 {
    opacity: 0;
}

.auditorium {
    opacity: 0;
}

.breakout {
    opacity: 0;
}

.info-desk {
    opacity: 0;
}

.fancybox-slide {
    padding: 100px;
}

.fancybox-is-open .fancybox-bg{
	opacity:.4;

}

.see-through-modal {
    background: rgb(0, 0, 0,.5);
    color: white;
}
.see-through-text-modal {
    background: rgb(67, 37, 128,.85) !important; 
    color: white !important;
}

.solid-color-text-modal {
    background: rgb(77, 37, 128); /* */
    color: white;
}

.button-container {
    width: 100%;
    height: 100%;
}

.lobby-buttons {
    position: relative;
}

.eb {
    position: absolute;
    cursor: pointer;
    background: red;
    opacity: 0;
}

.absolute-button{
    position: absolute;
    cursor: pointer;
    background: blue;
    opacity: 0;
}

.lobby-auditorium-button {
    top: 34%;
    left: 55%;
    width: 12%;
    height: 16%;
    /*transform: rotate(-5deg);*/
	
}

.lobby-breakout-main-button {
    top: 55%;
    left: 53%;
    width: 12%;
    height: 15%;
    /*transform: rotate(-5deg);*/
	
}

.lobby-info-desk-button {
    top: 54%;
    left: 37%;
    width: 12%;
    height: 13%;
    /*transform: rotate(-5deg);*/
}

.lobby-exhibit-hall-button {
    top: 38%;
    left: 1%;
    width: 15%;
    height: 16%;
    /*transform: rotate(-2deg);*/
	
}

.lobby-networking-lounge-button {
    top: 54%;
    left: 78%;
    width: 17%;
    height: 16%;
    /*transform: rotate(-2deg);*/
	background: red;
}

.lobby-private-meeting-room-button {
    top: 67%;
    right: 7%;
    width: 15%;
    height: 3%;
}

.information-desk-modal {
    color: #000000;
    display: none;
    width: 1050px;
    max-width: 1050px;
}

.networking-modal {
    color: #000000;
    display: none;
    width: 400px;
    max-width: 400px;
}

.breakouts-menu-modal {
    color: #000000;
    display: none;
    width: 500px;
    max-width: 500px;
}

.edit-modal {
    color: #000000;
    display: none;
    width: 600px;
    max-width: 600px;
    height: 80vh;
}

.edit-logo-modal {
    color: #000000;
    display: none;
    width: 600px;
    max-width: 600px;
    height: 355px;
    overflow: hidden;
}

.edit-video-modal {
    color: #000000;
    display: none;
    width: 600px;
    max-width: 600px;
    height: 260px;
}

.edit-color-modal {
    color: #000000;
    display: none;
    width: 600px;
    max-width: 600px;
    height: 400px !important;
    overflow: hidden;
}


.edit-banner-modal {
    color: #000000;
    display: none;
    width: 600px;
    max-width: 600px;
    height: 310px;
}

.edit-modal {
    color: #000000;
    display: none;
    width: 600px;
    max-width: 600px;
}

.information-desk-icon {
    width: 20px;
    margin-right: 5px;
}

.lobby-information-button {
    position: absolute;
    width: 30%;
    height: 20%;
    top: 63%;
    left: 10%;
    cursor: pointer;
}

.lobby-information-accordian-button {
    cursor:pointer;
    display: flex;
    margin-bottom: 8px;
}

.full-background {
    width: 100%;
}

.background-over-background {
    position: absolute;
    width: 100%;top:0px;
    max-height: 100%;
    background-position: top;
    background-repeat: no-repeat; 
    background-size: contain;
}

.white-button {
    cursor: pointer;
    background:rgba(255, 255, 255, .6);
    color: #000000;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1 solid #ffffff;
    position: fixed;
    left: -1px;
    top: 100px;
}

.black-button {
    cursor: pointer;
    background:rgba(0, 0, 0, .6);
    color: #ffffff;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1 solid #ffffff;
    position: fixed;
    left: -1px;
    top: 100px;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
}

.first-under-back-button {
    left: -1px;
    top: 150px;
}

.second-under-back-button {
    left: -1px;
    top: 200px;
}

.wider-back-button {
    width: 150px;
}

.back-button {
    left: -1px;
    top: 100px;
}

.relative-container {
    position: relative;
}

.room-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    /*
    position: absolute;
    cursor: pointer;
    background: red;
    opacity: 0;
    */
}

.info-desk-email-button {
    top:32.44%;
    left:72.4%;
    width:6.35%;
    height:19.96%;    
}

.info-desk-chat-button {
    top:32.98%;
    left:20.52%;
    width:6.09%;
    height:16.58%;
     
}
.info-desk-video-screen-button {
    top:34.49%;
    left:42.03%;
    width:15.68%;
    height:14.44%;    
}

.info-desk-left-sponsor-button {
    top:20.59%;
    left:1.56%;
    width:16.3%;
    height:32.62%; 
}
.info-desk-right-sponsor-button {
    top:20.86%;
    left:82.71%;
    width:15.89%;
    height:32.09%;
       
}

.woc-lounge-banner1-button {
    top:45.93%;
    left:14.74%;
    width:5.31%;
    height:24.44%;   
       
}
.woc-lounge-banner2-button {
    top:46.76%;
    left:21.61%;
    width:4.53%;
    height:21.94%;
       
}
.woc-lounge-banner3-button {
    top:47.59%;
    left:27.4%;
    width:3.85%;
    height:20.83%;    
       
}
.woc-lounge-banner4-button {
    top:47.31%;
    left:69.11%;
    width:3.8%;
    height:21.11%;
       
}
.woc-lounge-banner5-button {
    top:46.94%;
    left:74.06%;
    width:4.69%;
    height:21.11%;    
       
}
.woc-lounge-banner6-button {
    top:46.3%;
    left:80.21%;
    width:5%;
    height:24.54%;    
       
}

.woc-lounge-back-logo-button {
    top:34.54%;
    left:43.28%;
    width:13.75%;
    height:16.11%;
      
       
}

.booth-buttons {
    position: relative;
}

.exibit-buttons {
    position: relative;
}

.eb {
    position: absolute;
    cursor: pointer;
    background: red;
    opacity: 0;
}

.exibit-button-1 {
    top: 15%;
    left: 12%;
    width: 25%;
    height: 20%;
}

.exibit-button-2 {
    top: 15%;
    left: 40%;
    width: 22%;
    height: 23%;
}

.exibit-button-3 {
    top: 15%;
    left: 65%;
    width: 27%;
    height: 23%;
}

.exibit-button-4 {
    top: 39%;
    right: 0px;
    width: 53%;
    height: 56%;
}

.exibit-button-5 {
    bottom: 10%;
    left: 0;
    width: 40%;
    height: 55%;
}


.bb {
    position: absolute;
    cursor: pointer;
    /*background: red;*/
    opacity: 0;
}


.booth-bronze-banner1 {
    top:40.11%;
    left:23.07%;
    width:4.43%;
    height:19.52%;    
    transform: rotate(.1deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-bronze-banner2 {
    top:40.11%;
    left:73.39%;       
    width:4.43%;
    height:19.52%;  
    transform: rotate(-.1deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-bronze-video1 {
    top:39.66%;
    left:45.99%;
    width:8.28%;
    height:8.11%;
    
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}
.booth-bronze-top-logo {
    top:12.39%;
    left:44.32%;
    width:12.76%;
    height:12.28%;
    
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
}

.booth-silver-banner1 {
    top:40.93%;
    left:10.1%;
    width:6.35%;
    height:28.24%;
    transform: rotate(.5deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-silver-banner2 {
    top:40.93%;
    left:85.15%;    
    width:6.35%;
    height:28.24%;
    transform: rotate(-.5deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-silver-video1 {
    top:41.2%;
    left:38.59%;
    width:9.48%;
    height:9.54%;
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-silver-video2 {
    top:41.2%;
    left:55.73%;
    width:9.48%;
    height:9.54%;
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-silver-top-logo {
    top:13.15%;
    left:45.63%;
    width:12.66%;
    height:12.65%;
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
}



.booth-gold-banner1 {
    top:41.98%;
    left:18.13%;
    width:6.67%;
    height:20.05%;
    transform: rotate(.1deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-gold-banner2 {
    top:41.98%;
    left:75.83%;
    width:6.67%;
    height:20.05%;
    transform: rotate(-.1deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-gold-video1 {
    top:32.35%;
    left:27.86%;
    width:10.73%;
    height:10.34%;
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-gold-video2 {
    top:32.35%;
    left:60.63%;
    width:10.73%;
    height:10.34%;
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-gold-video3 {
    top:36.99%;
    left:45.57%;
    width:8.23%;
    height:8.11%;    
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-gold-top-logo {
    top:15.86%;
    left:42.81%;
    width:13.44%;
    height:12.93%;
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
}





.booth-diamond-banner1 {
    top:41.98%;
    left:8.39%;
    width:4.06%;
    height:17.91%;    
    transform: rotate(.3deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-banner2 {
    top:42.42%;
    left:16.51%;
    width:3.8%;
    height:16.76%;
    transform: rotate(-.1deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-banner3 {
    top:42.42%;
    left:83.7%;
    width:3.8%;
    height:16.76%;
    transform: rotate(-.1deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-banner4 {
    top:41.98%;
    left:90.52%;
    width:4.06%;
    height:17.91%;  
    transform: rotate(-.3deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-video1 {
    top:37.7%;
    left:24.84%;
    width:8.54%;
    height:8.2%;
    
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-video2 {
    top:38.5%;
    left:35.31%;
    width:7.97%;
    height:7.75%;
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-video3 {
    top:38.24%;
    left:47.71%;
    width:8.07%;
    height:8.02%;       
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}
.booth-diamond-video4 {
    top:38.5%;
    left:60.31%;
    width:7.97%;
    height:7.75%;
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-video5 {
    top:37.7%;
    left:70.16%;
    width:8.54%;
    height:8.2%;   
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-top-logo {
    top:9.27%;
    left:45.57%;
    width:12.71%;
    height:12.24%;    
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
}






.booth-diamond-plus-banner1 {
    top:43.43%;
    left:18.44%;
    width:3.54%;
    height:16.3%;         
    transform: rotate(.3deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-plus-banner2 {
    top:43.43%;
    left:23.07%;
    width:3.54%;
    height:16.3%;  
    transform: rotate(-.1deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-plus-banner3 {
    top:43.43%;
    left:77.71%;
    width:3.54%;
    height:16.3%;  
    transform: rotate(-.1deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-plus-banner4 {
    top:43.43%;
    left:82.4%;
    width:3.54%;
    height:16.3%;   
    transform: rotate(-.3deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-plus-video1 {
    top:47.44%;
    left:30.36%;
    width:8.85%;
    height:8.98%;
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-plus-video2 {
    top:36.7%;
    left:30.31%;
    width:8.85%;
    height:8.98%;
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-plus-video3 {
    top:28.9%;
    left:39.53%;
    width:9.17%;
    height:9.17%;      
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}
.booth-diamond-plus-video4 {
    top:28.9%;
    left:55.63%;
    width:9.17%;
    height:9.17%;   
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-plus-video5 {
    top:36.7%;
    left:65.2%;
    width:8.85%;
    height:8.98%;
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-diamond-plus-video6 {
    top:47.44%;
    left:65.16%;
    width:8.85%;
    height:8.98%;
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}
.booth-diamond-plus-top-logo {
    top:6.2%;
    left:45.16%;
    width:14.22%;
    height:14.22%;      
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
}






.booth-platinum-plus-banner1 {
    top:39.49%;
    left:10.16%;
    width:5.68%;
    height:24.96%;            
    transform: rotate(.1deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-platinum-plus-banner2 {
    top:40.2%;
    left:82.6%;
    width:5.68%;
    height:24.96%; 
    transform: rotate(-.1deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-platinum-plus-banner3 {
    top:40.2%;
    left:89.53%;
    width:5.68%;
    height:24.96%;   
    transform: rotate(-.1deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-platinum-plus-video1 {
    top:27.01%;
    left:25.42%;
    width:12.92%;
    height:12.66%;       
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-platinum-plus-video2 {
    top:42.07%;
    left:25.63%;
    width:12.66%;
    height:12.3%;    
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-platinum-plus-video3 {
    top:38.5%;
    left:42.66%;
    width:10.94%;
    height:10.78%;         
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}
.booth-platinum-plus-video4 {
    top:37.43%;
    left:58.44%;
    width:13.91%;
    height:13.64%;      
    transform: rotate(0deg);
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;

}

.booth-platinum-plus-top-logo {
    top:10.36%;
    left:45.57%;
    width:12.76%;
    height:12.28%;         
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
}



.booth-all-lower-box {
    display: flex;
    position: absolute;
    bottom: 4%;
    left:0%;
    width:100%;
    height:12%;
    opacity: 1;
    background-color: rgba(255,255,255,.3);
    -webkit-box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
}
.booth-all-lower-left-logo {
    width:12%;
    opacity: 1;
    background-image: url(""); /* Inserted dynamically through .js */
    background-repeat:no-repeat;
    background-size:contain;
}

.booth-all-description {
    width:60%;
    opacity: 1;
    color: black;
    font-size: 1vw;
    overflow-y: auto;
    margin: 1%;
}

.booth-all-lower-menu {
    display: flex;
    width: 25%;
}

.booth-all-lower-menu-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
}

.booth-all-lower-menu-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    height: 100%;
}

.social-container {
    display: flex;
    width: 100%;
}

.booth-all-lower-button-images {
    width: 10%;
    margin-right:5px;
}

.booth-all-lower-social-button-images {
    width: 100%;
}

.booth-all-menu-button {
    display: flex;
    align-items: center;
    width: 100%;
    opacity: 1;
    color: black;
    font-size: 1vw;
}

.booth-all-email-us {
    opacity: 1;
    color: black;
    font-size: 1vw;
}
.booth-all-social-button {
    width:10%;
    height:20.0%;
    opacity: 1;
    margin-right:3%;
}

.booth-button-chat {
    top: 40%;
    right: 53%;
    width: 4%;
    height: 11%;
}

.booth-button-1 {
    top: 27%;
    right: 20%;
    width: 21%;
    height: 11%;
}

.booth-button-2 {
    top: 28%;
    left: 21%;
    width: 19%;
    height: 10%;
}

.booth-button-3 {
    top: 25%;
    left: 42%;
    width: 15%;
    height: 13%;
}
.booth-button-name {
    top: 12%;
    left: 40.25%;
    width: 20%;
    height: 12%;
}
.booth-button-1-externalLinkContainer {
    top: 12%;
    left: 40%;
    width: 20%;
    height: 12%;
    position: absolute;
    cursor: pointer;
    background: none;
    opacity: 0.75;
}
.booth-button-2-externalLinkContainer {
    top: 12%;
    left: 40%;
    width: 20%;
    height: 12%;
    position: absolute;
    cursor: pointer;
    background: none;
    opacity: 0.75;
}
.booth-button-3-externalLinkContainer {
    top: 12%;
    left: 39%;
    width: 20%;
    height: 12%;
    position: absolute;
    cursor: pointer;
    background: none;
    opacity: 0.75;
}
.booth-button-4-externalLinkContainer {
    top: 12%;
    left: 40.5%;
    width: 20%;
    height: 12%;
    position: absolute;
    cursor: pointer;
    background: none;
    opacity: 0.75;
}
.booth-button-5-externalLinkContainer {
    top: 12%;
    left: 41.5%;
    width: 20%;
    height: 12%;
    position: absolute;
    cursor: pointer;
    background: none;
    opacity: 0.75;
}
.booth-externalLink-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width:64px;
    height:64px;
    margin-top: -32px; /* Half the height */
    margin-left: -32px; /* Half the width */
    opacity: 0;
}
.booth-button-logo {
    top: 56%;
    left: 50%;
    width: 12%;
    height: 10%;
}

.modal-shadow {
    /* width: 500px; */
    /* height: 200px; */
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.modal-wide {
    max-width: 1050px;
    /*width: 60vw;*/
}

.modal-super-wide {
    width: 95%;
    height: 700px;
    margin-top:-50px;
}

.modal-start-hidden {
    display: none; 
}

.dynamic-video-container {
    height:95%;
}


.exhibit-hall-modal-buttons {
    width:100%;
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.exhibit-hall-modal-header {
    display: flex;
    align-items: center;
    width:100%;
    font-size: 24px;
    font-weight: bold;
    color:#FFFFFF;
    text-align: center;
    justify-content: center;
    margin-bottom:20px;
}
.exhibit-hall-modal-button {
    width: 300px;
    color: #FFFFFF;
    padding-bottom: 20px;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.sponsor-menu-thumb {
    float: left;
    width: 96px;
    margin-right: 10px;
    margin-left: 30px;
    vertical-align: top;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
}

.sponsor-title {
    float: left;
    font-weight: bold;
    width: 200px;
}

.auditorium-buttons {
    width: 100%;
    height: 100%;
}

.auditorium-button {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    /*cursor: pointer;*/
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:20px;
}

.networking-buttons {
    width: 100%;
    height: 100%;
}

.networking-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:20px;
}

.networking-title {
    color: white;
    font-weight: bold;
}

.agenda-buttons {
    width: 100%;
    height: 100%;
}

.agenda-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
}

.agenda-title {
    color: white;
    font-weight: bold;
}


.breakouts-menu-title {
    color: white;
    font-weight: bold;
}

.breakouts-menu-description {
    padding-bottom: 20px;
}

.breakout-thumb {
    float: left;
    width: 30%;
    margin-right: 10px;
    vertical-align: top;
}

.video-thumb {
    float: left;
    width: 10%;
    margin-right: 10px;
    vertical-align: top;
    cursor: pointer;
}

.video-title {
    float: left;
    width:600px;
    font-weight: bold;
    cursor: pointer;
    /*white-space: nowrap;*/
    color: white;
}

.video-timesegment-text {
    float: right;
    width:220px;
    text-align: right;
    white-space: nowrap;
    color: white;
}
.video-description {
    /*padding-bottom: 20px;*/
    font-size: 1vw;
    float: left;
    width:800px;
    color: #cccccc;
}

.session-sponsor-logo {
    float: left;
    margin-bottom: 150px;
    padding-right: 600px;
}

.traditional-link-description {
    float: left;
    width:800px;
    color:#0064d6;
    text-decoration: underline;
    padding-bottom: 20px;
    cursor: pointer;
}

.auditorium-back-button {
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 60px;
}

/*
.contactUs-modal {
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
}*/

.contactUs-buttons {
    width: 100%;
    height: 100%;
}

.contactUs-button {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:10px;
}
.contactUs-description {

}

.contactUs-title {
    color:white;
}

.contactUs-back-button {
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 60px;
}	

.small-generic-modal-buttons {
    width: 100%;
    height: 100%;
}

.small-generic-modal-button {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:10px;
    margin-bottom: 20px;
}
.small-generic-modal-title {
    font-weight: bold;
    white-space: nowrap;
    color: #000000;
}
.small-generic-modal-description {
    white-space: nowrap;
    color: #000000;
}

.login-modal {
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    color: #000000;
}

.login-buttons {
    width: 100%;
    height: 100%;
}

.login-button {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:10px;
}

.login-back-button {
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: #000000;
    margin-top: 30px;
}	

.drag-header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

#chatwindow {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:100px;
    left: calc(50% - 350px); 
    width: 700px;
    height: 560px;
    z-index: 10000;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
}

#chatwindowheader {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #000000;
    color: #fff;
}

.close-button {
    color: #FFFFFF;
    cursor: pointer;
}

.chat {
    width: 100%;
    height: 100%;
    border: none;
}

.toggle-group {
    display: flex;
    margin-right: auto;
}

.toggle-button {
    margin-right: 20px;
    cursor: pointer;
}


/* Edit Sponsor Styles*/

.edit-sponsor-button {
    left: -1px;
    top: 150px;
}

.edit-container {
    position: absolute;
    height: 100%;
    display: none;
}

.edit-buttons{
    position: relative;
    width: 100%;
    height: 100%;
}

.edit-button {
    position: absolute;
    width: 100px;
    height: 100px;
}

/* Bronze */
.edit-bronze-banner1 {
    top: 44%;
    left: 22%
}

.edit-bronze-banner2 {
    top: 44%;
    left: 72%;
}

.edit-bronze-video1 {
    top: 39%;
    left: 47%;
}

.edit-bronze-color1 {
    top: 37%;
    left: 67%;
}

.edit-bronze-color2 {
    top: 21%;
    left: 35%
}

.edit-bronze-logo {
    top: 14%;
    left: 47%
}

.edit-booth-information {
    position:fixed;
    bottom: 50px;
    left: 69%
}



/* Silver */
.edit-sliver-banner1 {
    top: 53%;
    left: 11%
}

.edit-sliver-banner2 {
    top: 53%;
    left: 86%;
}

.edit-sliver-video1 {
    top: 41%;
    left: 41%;
}

.edit-sliver-video2 {
    top: 41%;
    left: 58%;
}

.edit-sliver-color1 {
    top: 56%;
    left: 57%;
}

.edit-sliver-color2 {
    top: 29%;
    left: 53%;
}

.edit-sliver-logo {
    top: 15%;
    left: 49%
}

/* Gold */
.edit-gold-banner1 {
    top: 47%;
    left: 18%
}

.edit-gold-banner2 {
    top: 47%;
    left: 76%;
}

.edit-gold-video1 {
    top: 33%;
    left: 30%;
}

.edit-gold-video2 {
    top: 33%;
    left: 63%;
}

.edit-gold-video3 {
    top: 37%;
    left: 47%;
}

.edit-gold-color1 {
    top: 47%;
    left: 47%
}

.edit-gold-color2 {
    top: 21%;
    left: 31%;
}

.edit-gold-logo {
    top: 17%;
    left: 47%
}

/* Diamond */
.edit-diamond-banner1 {
    top: 48%;
    left: 8%
}

.edit-diamond-banner2 {
    top: 48%;
    left: 16%;
}

.edit-diamond-banner3 {
    top: 48%;
    left: 83%;
}

.edit-diamond-banner4 {
    top: 48%;
    left: 90%;
}

.edit-diamond-video1 {
    top: 38%;
    left: 26%;
}

.edit-diamond-video2 {
    top: 38%;
    left: 37%;
}

.edit-diamond-video3 {
    top: 38%;
    left: 49%;
}

.edit-diamond-video4 {
    top: 38%;
    left: 62%;
}

.edit-diamond-video5 {
    top: 38%;
    left: 72%;
}

.edit-diamond-color1 {
    top: 28%;
    left: 72%;
}

.edit-diamond-color2 {
    top: 23%;
    left: 60%
}

.edit-diamond-color3 {
    top: 47%;
    left: 49%
}

.edit-diamond-logo {
    top: 11%;
    left: 49%
}

/* Diamond Plus */
.edit-diamond-plus-banner1 {
    top: 50%;
    left: 17%
}

.edit-diamond-plus-banner2 {
    top: 50%;
    left: 23%;
}

.edit-diamond-plus-banner3 {
    top: 50%;
    left: 77%;
}

.edit-diamond-plus-banner4 {
    top: 50%;
    left: 82%;
}

.edit-diamond-plus-video1 {
    top: 47%;
    left: 32%;
}

.edit-diamond-plus-video2 {
    top: 36%;
    left: 32%;
}
.edit-diamond-plus-video3 {
    top: 28%;
    left: 42%;
}
.edit-diamond-plus-video4 {
    top: 28%;
    left: 58%;
}
.edit-diamond-plus-video5 {
    top: 36%;
    left: 67%;
}
.edit-diamond-plus-video6 {
    top: 47%;
    left: 67%;
}

.edit-diamond-plus-color1 {
    top: 18%;
    left: 35%;
}

.edit-diamond-plus-color2 {
    top: 24%;
    left: 26%
}

.edit-diamond-plus-color3 {
    top: 26%;
    left: 67%
}

.edit-diamond-plus-logo {
    top: 10%;
    left: 50%
}

/* Platnium Plus */
.edit-platinum-plus-logo {
    top: 12%;
    left: 50%
}

.edit-platinum-plus-banner1 {
    top: 50%;
    left: 10%;
}

.edit-platinum-plus-banner2 {
    top: 50%;
    left: 83%;
}

.edit-platinum-plus-banner3 {
    top: 50%;
    left: 90%;
}


.edit-platinum-plus-video1 {
    top: 29%;
    left: 29%;
}

.edit-platinum-plus-video2 {
    top: 44%;
    left: 29%;
}

.edit-platinum-plus-video3 {
    top: 39%;
    left: 45%;
}

.edit-platinum-plus-video4 {
    top: 39%;
    left: 63%;
}

.edit-platinum-plus-color1 {
    top: 57%;
    left: 57%;
}

.edit-platinum-plus-color2 {
    top: 10%;
    left: 59%
}

.edit-platinum-plus-color3 {
    top: 29%;
    left: 40%
}

.edit-platinum-plus-booth-information {

}





/* Edit modal */
.upload-container{
    border: 0px solid black;
    border-radius: 3px;
 }
 /* Preview */
 .banner-preview{
    width: 122px;
    height: 305px;
    border: 1px solid black;
    margin: 0 auto;
    background: white;
 }
 
 .preview img{
    display: none;
 }
 /* Button */
 .button{
    border: 0px;
    background-color: deepskyblue;
    color: white;
    padding: 5px 15px;
    margin-left: 10px;
 }


/* Job Posting */
 .job-posting {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 5px;
 }

 .job-posting-title {

 }

 .job-posting-delete-button {
    display: inline-block;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    background-color: red;
    padding:10px;
    font-weight: bold;
    margin-left: auto
 }
 
 /* Document */
 .document {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 5px;
 }

 .document-title {

 }

 .document-delete-button {
    display: inline-block;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    background-color: red;
    padding:10px;
    font-weight: bold;
    margin-left: auto
 }

 /* Chat */
 .chat-room {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 5px;
 }

 .chat-room-title {

 }

 .chat-room-edit-button {
    display: inline-block;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    background-color: #78bf26;
    padding:10px;
    font-weight: bold;
    margin-left: auto
 }

 .chat-room-delete-button {
    display: inline-block;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    background-color: red;
    padding:10px;
    font-weight: bold;
    margin-left: auto
 }


 .flex-table {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
 }

 .table-labels {
    font-weight: bold;
 }

 .table-values {
    display: flex;
    flex-direction: column;
    width: 60%;
 }

 .edit-booth-label {
     line-height: 25px;
     font-weight: bold;
     display: flex;
 }

 .edit-booth-value {
    margin-bottom: 4px;
    margin-left: 4px;
    width: 100%
}

.edit-booth-accordian {
    margin-top: 20px;
}

.edit-job-postings-container {

}

.edit-documents-container {

}

.edit-chat-rooms-container {

}

td {
    width: 50%;
}

.edit-company-description {
    margin-left: 5px;
}

 .black-close {
    color: #000000;
 }

 .booth-left-arrow {
    left: 0px;
 }

 .booth-right-arrow {
    right: 0px;
 }

 .booth-cycle-button {
     position: fixed;
     top:50%;
     padding: 20px;
     background: black;
     color: white;
     display:none;
     border: 2px solid white;
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;
     z-index: 1;
 }

 .color-wall {
     width: 122px;
     height: 150px;
     position: absolute;
     right: 141px;
     z-index: 1;
 }


 .resume {
     text-align: center;
 }

 .resume-text {
     margin-bottom: 40px;
 }

 .resume-button {
     margin: 0px !important;
 }



 /* Kiosk Pulse */
.blob {
	background: black;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	margin: 10px;
	height: 30px;
    width: 30px;
    min-width: 20px;
    min-height: 20px;
	transform: scale(2);
    animation: pulse-black 3s infinite;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.blob.blue {
	background: rgba(120, 120, 120, 1);
	box-shadow: 0 0 0 0 rgba(120, 120, 120, 1);
    animation: pulse-gray 3s infinite;
    border: 1px solid gray;
}

@keyframes pulse-gray {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(120, 120, 120, 1);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(120, 120, 120, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(120, 120, 120, 0);
	}
}

.fa {
    /* font-size: 9px !important; */
}

.blob-container {
    opacity: .7;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*  WOC-Lounge embedded video CSS */
#woc-lounge-frame, #woc-video-container{
    position:absolute;
    left:43.02%;
    top:34.17%;
    width:14.58%;
    height:17.59%;
}

#woc-lounge-frame {
    pointer-events: none;
}

#woc-video-container{
    box-sizing:border-box;
    padding:1px;
}

#woc-video{
    width:100%;
    height:100%;
}

.share-modal {
    color: black;
}

.share-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.share-image {
    cursor: pointer;
    width: 100px;
}

.icon-chat-small {
    width: 14px;
}

.exhibit-block-modal {
    width: 350px !important;
    height: 300px;
}

.exhibit-block-button {
    margin-top: 10px;
    cursor: pointer;
}

@media (max-aspect-ratio: 16/9) {
    .booth-all-lower-box {
      position: absolute;
      bottom: 4%;
    }
}

@media (min-aspect-ratio: 16/9) {
    .booth-all-lower-box {
      position: fixed;
      bottom: 0px;
    }
}

.live-video-container {
    position: fixed;
    left: 0;
    top: 60px;
    width: 20%;
    
}

.live-video-aspect-ratio {
    position: relative;
    background-color: black;
    width: 100%;
    padding-top: 56.25%;
}

.live-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.ie-11-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ie-11-block {
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}