.dashboard-active-sessions {
  position: absolute;
  left: 0.5vw;
  top: 5vw;
  width: 20vw;
  height: auto;
  background-color: #000000;
  color: #ffffff;
  z-index: 50;
  border: 1px solid #ffffff;
  text-align: center;
}

.dashboard-active-sessions table {
	width: 90%;
	margin: 0 auto;
}

.dashboard-active-sessions td {
	text-align: left;
}

.dashboard-active-sessions td.left {
	text-align: left;
	padding-right: 10px;
}

.dashboard-active-sessions td.center {
	text-align: center;
	padding-right: 10px;
}

.dashboard-active-sessions h1 {
	width: 100%;
	text-align: center;
}

.dashboard-top-logins {
  position: absolute;
  left: 21.5vw;
  top: 5vw;
  width: 25vw;
  height: auto;
  background-color: #000000;
  color: #ffffff;
  z-index: 50;
  border: 1px solid #ffffff;
  text-align: center;
}

.dashboard-top-logins table {
	width: 95%;
	margin: 0 auto;
	border-collapse: collapse;
}

.dashboard-top-logins td {
	text-align: left;
	border-bottom: 1px solid #ffffff;
	padding-right: 10px;
}

.dashboard-top-ips {
  position: absolute;
  left: 47.5vw;
  top: 5vw;
  width: 25vw;
  height: auto;
  background-color: #000000;
  color: #ffffff;
  z-index: 50;
  border: 1px solid #ffffff;
  text-align: center;
}

.dashboard-top-ips table {
	width: 95%;
	margin: 0 auto;
	border-collapse: collapse;
}

.dashboard-top-ips td {
	text-align: left;
	border-bottom: 1px solid #ffffff;
	padding-right: 10px;
}

.dashboard-top-dupes {
  position: absolute;
  left: 73.5vw;
  top: 5vw;
  width: 25vw;
  height: auto;
  background-color: #000000;
  color: #ffffff;
  z-index: 50;
  border: 1px solid #ffffff;
  text-align: center;
	max-height: 800px !important;
}

.dashboard-top-dupes table {
	width: 60%;
	margin-left: 20%;
	border-collapse: collapse;
}

.dashboard-top-dupes table.name {
	width: 90%;
	margin: 0 auto;
}

.dashboard-top-dupes td {
	text-align: left;
}

.dashboard-top-dupes td.left {
	text-align: left;
	padding-right: 10px;
}

.dashboard-top-dupes td.center {
	text-align: center;
	padding-right: 10px;
}

.dashboard-top-dupes td.col1 {
	text-align: center;
	width: 30%;
}

.dashboard-top-dupes td.col2 {
	text-align: center;
	width: 35%;
}

.dashboard-top-dupes td.col3 {
	text-align: center;
	width: 35%;
}


