/* Mobile (Menu / Block) */

/* TODO: Need to rework */
#portraitBlock {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 20px;
    height: 100vh;
    left: 0px;
    right: 0px;
    z-index: 99999999;
}

.header {
    font-size: 13px;
    position: fixed;
    z-index: 1000;
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%);
    width: 100%;
    height: 60px;
    top: 0px;
    color: white;
    background: black;
    /* font-size: .8vw; */
  }
  
  .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: black;
  }
  
  .header li div {
    display: block;
    line-height: 40px;
    border: 1px solid #f4f4f4;
    padding: 0px 30px;  
    /* width: 100%; */
    text-decoration: none;
  }
  
  .header li div:hover,
  .header .menu-btn:hover {
    background-color: #313131;
  }

  .header-active {
    background-color: #313131;
  }
  
  .header .header-menu-logo {
    display: block;
    float: left;
    font-size: 2em;
    /* padding: 7px 20px; */
    text-decoration: none;
    max-height: 60px;
  }
  
  /* menu */
  
  .header .header-menu {
    clear: both;
    max-height: 0;
    transition: max-height .5s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .5s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .5s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .header-menu {
      max-height: calc(100vh - 60px);
      overflow-y: scroll;
      overflow-x: hidden;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .header-menu::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .header-menu {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* TODO: NEED TO REVISIT ALL MEDIA QUERIES AND NEEDS TO BE LOCALIZED NOT CORE */
  @media (min-width: 756px) {
    .header-menu-item {
      margin-right: 0px;
      cursor: pointer;
    }
  
    .header .menu-btn:checked ~ .header-menu {
      max-height: calc(100vh - 60px);
      overflow: hidden;
    }

    .header ul {
      background: none;
    }
  
    .header li {
      float: left;
    }
  
    .header li div {
      border: none;
      padding: 10px;
    }
  
    .header .header-menu {
      clear: none;
      float: left;
      max-height: none;
    }
  
    .header .menu-icon {
      display: none !important;
    }
  }


.right-menu-container {
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.right-menu-item {
  cursor: pointer;
  margin-right: 10px;
}



  /* User Account Dropdown */
.user-profile {
    min-width: 150px;
    text-align: center;
}

.user-profile-container {
    margin: auto;
    margin-right: 20px;
}

.subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 23px -2px #707070;
    -moz-box-shadow: 0px 0px 23px -2px #707070;
    box-shadow: 0px 0px 23px -2px #707070;
}
.subnav ul {
    list-style-type: none;
    padding: 5px 30px;
}

.subnav-button {
    cursor: pointer;
    color: #000000;
    padding: 5px 0px;
}


.arrow {
    display: none;
    position: absolute;
    left: 75px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    z-index: 1;
}

.profile-modal {
    width: 500px;
    color:#000000;
    background: white;
}

.profile-information {
    display: flex;
}

.profile-titles {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.profile-title {
    margin-bottom: 5px;
}

.profile-values {
    display: flex;
    flex-direction: column;
}

.profile-value {
    font-weight: bold;
    margin-bottom: 5px;
}

.update-password-input-container {
    display: none;
    border: 1px solid #e0e0e0;
    padding: 18px;
}

.update-password-message {
    display: none;
    margin-top: 20px;
    font-weight: bold;
}

.update-booth-button {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:10px;
}

.nofification-toggle-container {
    display: flex;
    margin-top: 20px;
}