.exterior-video-container {
    display: none;
}

.exterior-image-container {
    display: none;
}

/* Main Menu */
.main-menu {
    height: 100%;
    color: white;
    background: black;
}

.main-menu-routes {
    margin-left: 20px;
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
}

.menu-logo {
    margin-right: 50px;
    max-height: 50px;
    cursor: pointer;
}

.menu-item {
    font-size: 14px;
    margin-right: 2%;
    cursor: pointer;
}




/* Global */
.transparent {
    opacity: 0;
}

.pointer {
    cursor: pointer;
}

.absolute-button-container {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-fullscreen {
    display: none;
    opacity: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
    top:0px; /*top:50px;*/
    max-height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.full-background {
    width: 100%;
}

.relative-container {
    position: relative;
}

.absolute-button{
    position: absolute;
    cursor: pointer;
}

.page-button-container {
    position: absolute;
    left: 0px;
    top: 75px;
}

.page-black-button {
    cursor: pointer;
    background:rgba(0, 0, 0, .6);
    color: #ffffff;
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1 solid #ffffff;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
}







/* Modals */
.modal-buttons {
    width: 100%;
    height: 100%;
}

.modal-button {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.modal-list-thumb {
    float: left;
    width: 30%;
    margin-right: 10px;
    vertical-align: top;
}

.modal-menu-title {
    color: #000000;
    font-weight: bold;
}

.modal-menu-description {
    padding-bottom: 20px;
}
























.stemulating-lounge-agenda-button {
    top: 47%;
    left: 81%;
    width: 15%;
    height: 37%;
}


.booz-allen-left-button {
    top: 36%;
    left: 20%;
    width: 10%;
    height: 23%;
}

.booz-allen-center-button {
    top: 18%;
    left: 32%;
    width: 35%;
    height: 35%;
}

.booz-allen-right-button {
    top: 36%;
    left: 68%;
    width: 10%;
    height: 23%;
}

.amie-3-button {
    top: 45%;
    left: 50%;
    width: 6%;
    height: 19%;
}

.amie-5-button {
    top: 45%;
    left: 18%;
    width: 13%;
    height: 14%;
}

.amie-6-button {
    top: 45%;
    left: 37%;
    width: 13%;
    height: 14%;
}

.amie-7-button {
    top: 45%;
    left: 57%;
    width: 13%;
    height: 14%;
}

.beya-1-button {
    top: 48%;
    left: 14%;
    width: 6%;
    height: 24%;
}

.beya-2-button {
    top: 48%;
    left: 21%;
    width: 5%;
    height: 24%;
}

.beya-3-button {
    top: 48%;
    left: 27%;
    width: 5%;
    height: 24%;
}

.beya-4-button {
    top: 48%;
    left: 69%;
    width: 5%;
    height: 24%;
}

.beya-5-button {
    top: 48%;
    left: 74%;
    width: 5%;
    height: 24%;
}
.beya-6-button {
    top: 48%;
    left: 80%;
    width: 5%;
    height: 24%;
}

.raytheon-1-button {
    top: 36%;
    left: 20%;
    width: 10%;
    height: 23%;
}

.raytheon-2-button {
    top: 18%;
    left: 32%;
    width: 35%;
    height: 35%;
}

.raytheon-3-button {
    top: 36%;
    left: 68%;
    width: 10%;
    height: 23%;
}

.textron-1-button {
    top: 36%;
    left: 20%;
    width: 10%;
    height: 23%;
}

.textron-2-button {
    top: 18%;
    left: 32%;
    width: 35%;
    height: 35%;
}

.textron-3-button {
    top: 36%;
    left: 68%;
    width: 10%;
    height: 23%;
}

.military-tibute-video {
    top: 53%;
    left: 26.3%;
    width: 13.6%;
    height: 19%;
}

.military-tibute-video-top {
    top: 6%;
    left: 36.4%;
    width: 27.5%;
    height: 27%;
}

.lobby-video-middle {
    top: 20%;
    left: 39.4%;
    width: 21.5%;
    height: 21%;
}

.beya-lounge-video {
    top: 34%;
    left: 39.4%;
    width: 21.5%;
    height: 21%;
}

.military-ml-button {
    top: 56%;
    left: 23%;
    width: 8%;
    height: 19%;
}

.military-bl-button {
    top: 56%;
    left: 32%;
    width: 8%;
    height: 19%;
}

.military-ballroom-button {
    top: 46%;
    left: 0%;
    width: 13%;
    height: 27%;
}

.military-tribute-button {
    top: 47%;
    left: 86%;
    width: 13%;
    height: 27%;
}

.military-button-1 {
    top: 47%;
    left: 86%;
    width: 13%;
    height: 27%;
}

.military-button-2 {
    top: 47%;
    left: 86%;
    width: 13%;
    height: 27%;
}

.military-button-3 {
    top: 47%;
    left: 86%;
    width: 13%;
    height: 27%;
}

.military-button-4 {
    top: 47%;
    left: 86%;
    width: 13%;
    height: 27%;
}


.lobby-military {
    top: 56%;
    left: 1%;
    width: 15%;
    height: 16%;
}

.lobby-networking-lounge {
    top: 56%;
    left: 24%;
    width: 15%;
    height: 16%;
}

.lobby-beya-2 {
    top: 56%;
    left: 64%;
    width: 15%;
    height: 16%;
}

.lobby-stemulating {
    top: 56%;
    left: 85%;
    width: 15%;
    height: 16%;
}

.lobby-information-desk {
    top: 77%;
    left: 41%;
    width: 18%;
    height: 13%;
}

.lobby-grand-ballroom {
    top: 55%;
    left: 38%;
    width: 12%;
    height: 15%;
}

.lobby-seminar-rooms {
    top: 55%;
    left: 51%;
    width: 12%;
    height: 15%;
}





.military-army-button {
    top: 55%;
    left: 14%;
    width: 6%;
    height: 17%;
}

.military-navy-button {
    top: 55%;
    left: 44%;
    width: 6%;
    height: 17%;
}


.military-marines-button {
    display: none;
    top: 19%;
    left: 16%;
    width: 19%;
    height: 28%;
}


.military-coast-guard-button {
    top: 55%;
    left: 39%;
    width: 6%;
    height: 17%;
}


.military-air-force-button {
    top: 55%;
    left: 0%;
    width: 6%;
    height: 17%;
}



.military-national-guard-button {
    display: none;
    top: 48%;
    left: 54%;
    width: 17%;
    height: 29%;
}


.user-profile-share {
    cursor: pointer;
}


.speaker-bio-container {
    display: flex;
}

.speaker-bio-avatar-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.speaker-bio-avatar {
    max-width: 100%;
}

.speaker-bio-information {
    width: 80%;
    padding: 0 30px;
}

.speaker-bio-name {
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
    font-size: 1.1vw;
}

.speaker-bio-title {
    color: #000000;
    margin-bottom: 15px;
    font-size: 0.8vw;
}

.speaker-bio-description {
    font-size: 1.1vw;
    float: left;
    color: #707070;
    margin-bottom: 10px;
}


/* Trivia */

.trivia-intro-container {

}

.trivia-intro-text {
    display: none;
    margin-bottom: 20px;
}

.trivia-final-text {
    display: none;
    margin-bottom: 20px;
}

.trivia-continue-button {
    display: none;
}

.trivia-questions-container {
    display: none;
}

.trivia-question {

}

.trivia-question-text {
    font-size: 23px;
}

.trivia-answer-container {

}

.trivia-answer {
    cursor: pointer;
    font-size: 18px;
    margin: 5px 0;
    transition: all .2s ease-in-out;
}

.trivia-answer:hover {
    transform: scale(1.1);
}

.trivia-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trivia-nav-button {
    cursor: pointer;
    margin: 20px;
    
}

.trivia-nav-previous {

}

.trivia-nav-next {

}

.trivia-active {
    font-weight: bold;
}

/* Profile Show Notifications */

.nofification-toggle-container {
    display: flex;
    margin-top: 20px;
}


/* Networking Lounge */











/* --------------------- */

/* Session Search */

.session-search-image {
    width: 11px;
}









/* --------------------- */


/* UI Slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 262px;
    left: 239px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 60px;
    height: 33px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .switch {
      margin-left: 20px;
  }


/* Jquery UI */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #000000 !important;
    background: #000000 !important;
}

.tt {
    color: white;
    background: #F9F65D;
    width: 25px;
    border-radius: 15px;
    text-align: center;
    margin-left: 4px;
    cursor: pointer;
    transform: scale(.6);
}

.ui-tooltip {
    z-index: 999999999 !important;
}

.zoom-container {
    display: none;
    width: 100%;
    height: 100%;
}

.zoom-flex {
    width: 100%;
    height: 100%;
    background: #2E8CFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teams-container {
    display: none;
    width: 100%;
    height: 100%;
}

.teams-flex {
    width: 100%;
    height: 100%;
    background: #3F4790;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teams-img {
    width: 220px;
    cursor: pointer;
}

.teams-participate-text {
    color: #FFF;
    font-weight: bold;
    margin-top: 5px;
}

.teams-text {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.webex-container {
    display: none;
    width: 100%;
    height: 100%;
}

.webex-flex {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webex-img {
    width: 220px;
    cursor: pointer;
}

.webex-participate-text {
    color: #FFF;
    font-weight: bold;
    margin-top: 5px;
}

.webex-text {
    margin-top: 20px;
    color: #01BCEA;
    font-size: 20px;
    cursor: pointer;
}

.webex-container {
    display: none;
    width: 100%;
    height: 100%;
}

.google-meet-container {
    display: none;
    width: 100%;
    height: 100%;
}

.google-meet-flex {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-meet-img {
    width: 575px;
    cursor: pointer;
}

.google-meet-participate-text {
    color: #FFF;
    font-weight: bold;
    margin-top: 5px;
}

.google-meet-text {
    margin-top: 20px;
    color: #078176;
    font-size: 20px;
    cursor: pointer;
}

.room-dropdown {
    padding: 20px;
    text-align: left;
    color: black;
  }
  
.chat-dropdown {
    margin-left: 30px;
}

.zoom-badge {
    position: absolute;
    background: red;
    color: #FFF;
    top: 217px;
    right: 294px;
    padding:5px 10px;
    border-radius:40px;
}

.zoom-img {
    width: 220px;
    cursor: pointer;
}

.zoom-participate-text {
    color: #FFF;
    font-weight: bold;
    margin-top: 5px;
}

.zoom-text {
    color: white;
    font-size: 20px;
    cursor: pointer;
}


/* User Account Dropdown */


.user-profile {
    min-width: 150px;
    text-align: center;
}

.user-profile-container {
    margin: auto;
    margin-right: 20px;
}

.subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 23px -2px #707070;
    -moz-box-shadow: 0px 0px 23px -2px #707070;
    box-shadow: 0px 0px 23px -2px #707070;
}
.subnav ul {
    list-style-type: none;
    padding: 5px 30px;
}

.subnav-button {
    cursor: pointer;
    color: #000000;
    padding: 5px 0px;
}


.arrow {
    display: none;
    position: absolute;
    left: 75px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    z-index: 1;
}

.profile-modal {
    width: 500px;
    color:#000000;
    background: white;
}

.profile-information {
    display: flex;
}

.profile-titles {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.profile-title {
    margin-bottom: 5px;
}

.profile-values {
    display: flex;
    flex-direction: column;
}

.profile-value {
    font-weight: bold;
    margin-bottom: 5px;
}

.update-password-input-container {
    display: none;
    border: 1px solid #e0e0e0;
    padding: 18px;
}

.update-password-message {
    display: none;
    margin-top: 20px;
    font-weight: bold;
}

.update-booth-button {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:10px;
}

body {
    position: relative;
    background: #000000;
    margin: 0px;
    padding: 0px;
    height: 100%;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

.header {
    z-index: 1000;
    position:fixed;
    width: 100%;
    height: 60px;
    color: #000000;
    background: #ffffff;
    font-size: .8vw;
}

.button-green {
    display: inline-block;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    background-color: #78bf26;
    padding:10px;
    font-weight: bold;
    margin-right: 20px;
    margin-top:20px;
}




.netowrking-lounge {
    opacity: 0;
}

.exterior {
    opacity: 0;
    cursor:pointer;
}

.welcome-overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-text {
    font-size: 30px;
}

.welcome-click-text {
    font-size: 20px;
}





.exterior-fly-in-video-player-container {
    opacity: 0;
}

.exteriorlogin {
    opacity: 0;
}

.lobby {
    opacity: 0;
}



.breakout-main {
    opacity: 0;
}

.breakout1 {
    opacity: 0;
}

.breakout2 {
    opacity: 0;
}

.breakout3 {
    opacity: 0;
}

.exhibit-hall {
    opacity: 0;
}

.auditorium {
    opacity: 0;
}

.breakout {
    opacity: 0;
}

.vsk {
    opacity: 0;
}

.fancybox-slide {
    padding: 100px;
}

.fancybox-is-open .fancybox-bg{
	opacity:.4;

}

.fancybox-content {
    background: #FCB813 !important;
}


.fancybox-slide--iframe .fancybox-content {
    height: 100% !important;
}

.see-through-modal {
    background: rgb(0, 0, 0,.5);
    color: white;
}
.see-through-text-modal {
    background: rgb(255, 255, 255,.85) !important; 
    color: black !important;
}

.solid-color-text-modal {
    background: rgb(255, 255, 255); /* */
    color: black;
}

.button-container {
    width: 100%;
    height: 100%;
}

.eb {
    position: absolute;
    cursor: pointer;
    background: red;
    opacity: 0;
}



.lobby-auditorium-button {
    top: 34%;
    left: 55%;
    width: 12%;
    height: 16%;
    /*transform: rotate(-5deg);*/
	
}

.lobby-breakout-main-button {
    top: 55%;
    left: 53%;
    width: 12%;
    height: 15%;
    /*transform: rotate(-5deg);*/
	
}

.lobby-info-desk-button {
    top: 54%;
    left: 37%;
    width: 12%;
    height: 13%;
    /*transform: rotate(-5deg);*/
}

.lobby-exhibit-hall-button {
    top: 38%;
    left: 1%;
    width: 15%;
    height: 16%;
    /*transform: rotate(-2deg);*/
	
}

.lobby-networking-lounge-button {
    top: 54%;
    left: 78%;
    width: 17%;
    height: 16%;
    /*transform: rotate(-2deg);*/
	background: red;
}

.lobby-private-meeting-room-button {
    top: 67%;
    right: 7%;
    width: 15%;
    height: 3%;
}

.information-desk-modal {
    color: #000000;
    display: none;
    width: 1050px;
    max-width: 1050px;
}

.networking-modal {
    color: #000000;
    display: none;
    width: 600px;
}

.breakouts-menu-modal {
    color: #000000;
    display: none;
    width: 500px;
    max-width: 500px;
}

.edit-modal {
    color: #000000;
    display: none;
    width: 600px;
    max-width: 600px;
    height: 80vh;
}

.edit-logo-modal {
    color: #000000;
    display: none;
    width: 600px;
    max-width: 600px;
    height: 355px;
    overflow: hidden;
}

.edit-video-modal {
    color: #000000;
    display: none;
    width: 600px;
    max-width: 600px;
    height: 260px;
}

.edit-color-modal {
    color: #000000;
    display: none;
    width: 600px;
    max-width: 600px;
    height: 400px !important;
    overflow: hidden;
}


.edit-banner-modal {
    color: #000000;
    display: none;
    width: 600px;
    max-width: 600px;
    height: 310px;
}

.edit-modal {
    color: #000000;
    display: none;
    width: 600px;
    max-width: 600px;
}

.information-desk-icon {
    width: 20px;
    margin-right: 5px;
}

.lobby-information-button {
    position: absolute;
    width: 30%;
    height: 20%;
    top: 63%;
    left: 10%;
    cursor: pointer;
}

.lobby-information-accordian-button {
    cursor:pointer;
    display: flex;
    margin-bottom: 8px;
}



.background-over-background {
    position: absolute;
    width: 100%;top:0px;
    max-height: 100%;
    background-position: top;
    background-repeat: no-repeat; 
    background-size: contain;
}

.white-button {
    cursor: pointer;
    background:rgba(255, 255, 255, .6);
    color: #000000;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1 solid #ffffff;
    position: fixed;
    left: -1px;
    top: 100px;
}

.black-button {
    cursor: pointer;
    background:rgba(0, 0, 0, .6);
    color: #ffffff;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1 solid #ffffff;
    position: fixed;
    left: -1px;
    top: 100px;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 13px 0px rgba(255, 255, 255, 0.75);
}

.first-under-back-button {
    left: -1px;
    top: 150px;
}

.second-under-back-button {
    left: -1px;
    top: 200px;
}

.wider-back-button {
    width: 150px;
}

.back-button {
    left: -1px;
    top: 100px;
}

.trivia-button {
    left: -1px;
    top: 205px;
    text-align: center;
}

.leaderboard-button {
    left: -1px;
    top: 258px;
    text-align: center;
}




.room-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    /*
    position: absolute;
    cursor: pointer;
    background: red;
    opacity: 0;
    */
}

.info-desk-email-button {
    top:29.44%;
    left:72.4%;
    width:6.35%;
    height:5.96%;    
}

.info-desk-email-tech-button {
    top:42.44%;
    left:72.4%;
    width:6.35%;
    height:5.96%;    
}

.info-desk-chat-button {
    top:32.98%;
    left:20.52%;
    width:6.09%;
    height:16.58%;
     
}
.info-desk-video-screen-button {
    top:34.49%;
    left:42.03%;
    width:15.68%;
    height:14.44%;    
}

.info-desk-left-sponsor-button {
    top:20.59%;
    left:1.56%;
    width:16.3%;
    height:32.62%; 
}
.info-desk-right-sponsor-button {
    top:20.86%;
    left:82.71%;
    width:15.89%;
    height:32.09%;
       
}

.info-desk-right-content-1-button {
    top:79%;
    left:39.5%;
    width:5%;
    height:8%;   
}

.info-desk-right-content-2-button {
    top:71%;
    left:42.5%;
    width:5%;
    height:8%; 
}

.info-desk-right-content-3-button {
    top:68%;
    left:47.3%;
    width:5%;
    height:8%; 
}

.info-desk-right-content-4-button {
    top:71%;
    left:52.3%;
    width:5%;
    height:8%;    
}

.info-desk-right-content-5-button {
    top:79%;
    left:55.1%;
    width:5%;
    height:8%;   
}




.woc-lounge-banner1-button {
    top:45.93%;
    left:14.74%;
    width:5.31%;
    height:24.44%;   
       
}
.woc-lounge-banner2-button {
    top:46.76%;
    left:21.61%;
    width:4.53%;
    height:21.94%;
       
}
.woc-lounge-banner3-button {
    top:47.59%;
    left:27.4%;
    width:3.85%;
    height:20.83%;    
       
}
.woc-lounge-banner4-button {
    top:47.31%;
    left:69.11%;
    width:3.8%;
    height:21.11%;
       
}
.woc-lounge-banner5-button {
    top:46.94%;
    left:74.06%;
    width:4.69%;
    height:21.11%;    
       
}
.woc-lounge-banner6-button {
    top:46.3%;
    left:80.21%;
    width:5%;
    height:24.54%;    
       
}

.woc-lounge-back-logo-button {
    top:34.54%;
    left:43.28%;
    width:13.75%;
    height:16.11%;
      
       
}

.exibit-buttons {
    position: relative;
}

.eb {
    position: absolute;
    cursor: pointer;
    background: red;
    opacity: 0;
}

.exibit-button-1 {
    top: 15%;
    left: 12%;
    width: 25%;
    height: 20%;
}

.exibit-button-2 {
    top: 15%;
    left: 40%;
    width: 22%;
    height: 23%;
}

.exibit-button-3 {
    top: 15%;
    left: 65%;
    width: 27%;
    height: 23%;
}

.exibit-button-4 {
    top: 39%;
    right: 0px;
    width: 53%;
    height: 56%;
}

.exibit-button-5 {
    bottom: 10%;
    left: 0;
    width: 40%;
    height: 55%;
}


.bb {
    position: absolute;
    cursor: pointer;
    /*background: red;*/
    opacity: 0;
}

.modal-shadow {
    /* width: 500px; */
    /* height: 200px; */
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.modal-wide {
    max-width: 1050px;
    /*width: 60vw;*/
}

.modal-full {
    /* max-width: 1050px; */
    /*width: 60vw;*/
}

.modal-super-wide {
    width: 95%;
    height: 700px;
    margin-top:-50px;
}

.modal-start-hidden {
    display: none; 
}

.dynamic-video-container {
    height:95%;
}


.exhibit-hall-modal-buttons {
    width:100%;
    padding-bottom: 130px;
    display: flex;
    flex-wrap: wrap;
}

.exhibit-hall-modal-header {
    display: flex;
    align-items: center;
    width:100%;
    font-size: 24px;
    font-weight: bold;
    color:#FFFFFF;
    text-align: center;
    justify-content: center;
    margin-bottom:20px;
}
.exhibit-hall-modal-button {
    width: 300px;
    color: #FFFFFF;
    padding-bottom: 20px;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.sponsor-menu-thumb {
    float: left;
    width: 96px;
    margin-right: 10px;
    margin-left: 30px;
    vertical-align: top;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
}

.sponsor-title {
    float: left;
    font-weight: bold;
    width: 200px;
}

.auditorium-button {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:20px;
    margin-bottom: 40px;
}

.auditorium-button-container {
    width: 100%;
    height: 100%;
}

.auditorium-button-title {
    display: flex;
    justify-content: space-between;
}

.networking-buttons {
    width: 100%;
    height: 100%;
}

.networking-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:20px;
    padding-bottom: 30px;
}

.networking-title {
    color: white;
    font-weight: bold;
}

.agenda-buttons {
    width: 100%;
    height: 100%;
}

.agenda-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-bottom: 30px;
}

.agenda-title {
    color: black;
    font-weight: bold;
}






.video-thumb {
    float: left;
    width: 10%;
    margin-right: 10px;
    vertical-align: top;
    cursor: pointer;
}

.video-title {
    max-width: 70%;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    margin-bottom: 15px;
    font-size: 1.1vw;
}

.video-timesegment-text {
    text-align: right;
    white-space: nowrap;
    color: #000000;
    font-size: 1.1vw;
}
.video-description {
    /*padding-bottom: 20px;*/
    font-size: 1.1vw;
    float: left;
    color: #707070;
    margin-bottom: 10px;
}

.session-sponsor-logo {
    margin-top: 10px;
}

.traditional-link-description {
    float: left;
    width:800px;
    color:#0064d6;
    text-decoration: underline;
    padding-bottom: 20px;
    cursor: pointer;
}

.auditorium-back-button {
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: black;
    margin-top: 60px;
    margin-bottom: 40px;
}

/*
.contactUs-modal {
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
}*/

.contactUs-buttons {
    width: 100%;
    height: 100%;
}

.contactUs-button {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:10px;
}
.contactUs-description {

}

.contactUs-title {
    color:white;
}

.contactUs-back-button {
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 60px;
}	

.white-modal-back-button {
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: black;
    margin-top: 60px;
}	

.small-generic-modal-buttons {
    width: 100%;
    height: 100%;
}

.small-generic-modal-button {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:10px;
    margin-bottom: 20px;
}
.small-generic-modal-title {
    font-weight: bold;
    white-space: nowrap;
    color: #000000;
}
.small-generic-modal-description {
    white-space: nowrap;
    color: #000000;
}

.login-modal {
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    color: #000000;
}

.login-buttons {
    width: 100%;
    height: 100%;
}

.login-button {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    padding-left:10px;
}

.login-back-button {
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: #000000;
    margin-top: 30px;
}	

.drag-header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

#chatwindow {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:100px;
    left: calc(50% - 350px); 
    width: 700px;
    height: 560px;
    z-index: 10000;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
}

#chatwindowheader {
    min-height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #000000;
    color: #fff;
}

.close-button {
    color: #FFFFFF;
    cursor: pointer;
}

.chat {
    width: 100%;
    height: 100%;
    border: none;
}

.toggle-group {
    display: flex;
    margin-right: auto;
}

.toggle-button {
    margin-right: 20px;
    cursor: pointer;
}


/* Edit Sponsor Styles*/

.edit-sponsor-button {
    left: -1px;
    top: 150px;
}

.edit-container {
    position: absolute;
    height: 100%;
    display: none;
}

.edit-buttons{
    position: relative;
    width: 100%;
    height: 100%;
}

.edit-button {
    position: absolute;
    width: 100px;
    height: 100px;
}

/* Bronze */
.edit-bronze-banner1 {
    top: 44%;
    left: 22%
}

.edit-bronze-banner2 {
    top: 44%;
    left: 72%;
}

.edit-bronze-video1 {
    top: 39%;
    left: 47%;
}

.edit-bronze-color1 {
    top: 37%;
    left: 67%;
}

.edit-bronze-color2 {
    top: 21%;
    left: 35%
}

.edit-bronze-logo {
    top: 14%;
    left: 47%
}

.edit-booth-information {
    position:fixed;
    bottom: 50px;
    left: 69%
}



/* Silver */
.edit-sliver-banner1 {
    top: 53%;
    left: 11%
}

.edit-sliver-banner2 {
    top: 53%;
    left: 86%;
}

.edit-sliver-video1 {
    top: 41%;
    left: 41%;
}

.edit-sliver-video2 {
    top: 41%;
    left: 58%;
}

.edit-sliver-color1 {
    top: 56%;
    left: 57%;
}

.edit-sliver-color2 {
    top: 29%;
    left: 53%;
}

.edit-sliver-logo {
    top: 15%;
    left: 49%
}

/* Gold */
.edit-gold-banner1 {
    top: 47%;
    left: 18%
}

.edit-gold-banner2 {
    top: 47%;
    left: 76%;
}

.edit-gold-video1 {
    top: 33%;
    left: 30%;
}

.edit-gold-video2 {
    top: 33%;
    left: 63%;
}

.edit-gold-video3 {
    top: 37%;
    left: 47%;
}

.edit-gold-color1 {
    top: 47%;
    left: 47%
}

.edit-gold-color2 {
    top: 21%;
    left: 31%;
}

.edit-gold-logo {
    top: 17%;
    left: 47%
}

/* Diamond */
.edit-diamond-banner1 {
    top: 48%;
    left: 8%
}

.edit-diamond-banner2 {
    top: 48%;
    left: 16%;
}

.edit-diamond-banner3 {
    top: 48%;
    left: 83%;
}

.edit-diamond-banner4 {
    top: 48%;
    left: 90%;
}

.edit-diamond-video1 {
    top: 38%;
    left: 26%;
}

.edit-diamond-video2 {
    top: 38%;
    left: 37%;
}

.edit-diamond-video3 {
    top: 38%;
    left: 49%;
}

.edit-diamond-video4 {
    top: 38%;
    left: 62%;
}

.edit-diamond-video5 {
    top: 38%;
    left: 72%;
}

.edit-diamond-color1 {
    top: 28%;
    left: 72%;
}

.edit-diamond-color2 {
    top: 23%;
    left: 60%
}

.edit-diamond-color3 {
    top: 47%;
    left: 49%
}

.edit-diamond-logo {
    top: 11%;
    left: 49%
}

/* Diamond Plus */
.edit-diamond-plus-banner1 {
    top: 50%;
    left: 17%
}

.edit-diamond-plus-banner2 {
    top: 50%;
    left: 23%;
}

.edit-diamond-plus-banner3 {
    top: 50%;
    left: 77%;
}

.edit-diamond-plus-banner4 {
    top: 50%;
    left: 82%;
}

.edit-diamond-plus-video1 {
    top: 47%;
    left: 32%;
}

.edit-diamond-plus-video2 {
    top: 36%;
    left: 32%;
}
.edit-diamond-plus-video3 {
    top: 28%;
    left: 42%;
}
.edit-diamond-plus-video4 {
    top: 28%;
    left: 58%;
}
.edit-diamond-plus-video5 {
    top: 36%;
    left: 67%;
}
.edit-diamond-plus-video6 {
    top: 47%;
    left: 67%;
}

.edit-diamond-plus-color1 {
    top: 18%;
    left: 35%;
}

.edit-diamond-plus-color2 {
    top: 24%;
    left: 26%
}

.edit-diamond-plus-color3 {
    top: 26%;
    left: 67%
}

.edit-diamond-plus-logo {
    top: 10%;
    left: 50%
}

/* Platnium Plus */
.edit-platinum-plus-logo {
    top: 12%;
    left: 50%
}

.edit-platinum-plus-banner1 {
    top: 50%;
    left: 10%;
}

.edit-platinum-plus-banner2 {
    top: 50%;
    left: 83%;
}

.edit-platinum-plus-banner3 {
    top: 50%;
    left: 90%;
}


.edit-platinum-plus-video1 {
    top: 29%;
    left: 29%;
}

.edit-platinum-plus-video2 {
    top: 44%;
    left: 29%;
}

.edit-platinum-plus-video3 {
    top: 39%;
    left: 45%;
}

.edit-platinum-plus-video4 {
    top: 39%;
    left: 63%;
}

.edit-platinum-plus-color1 {
    top: 57%;
    left: 57%;
}

.edit-platinum-plus-color2 {
    top: 10%;
    left: 59%
}

.edit-platinum-plus-color3 {
    top: 29%;
    left: 40%
}

.edit-platinum-plus-booth-information {

}





/* Edit modal */
.upload-container{
    border: 0px solid black;
    border-radius: 3px;
 }
 /* Preview */
 .banner-preview{
    width: 122px;
    height: 305px;
    border: 1px solid black;
    margin: 0 auto;
    background: white;
 }
 
 .preview img{
    display: none;
 }
 /* Button */
 .button{
    border: 0px;
    background-color: deepskyblue;
    color: white;
    padding: 5px 15px;
    margin-left: 10px;
 }


/* Job Posting */
 .job-posting {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 5px;
 }

 .job-posting-title {

 }

 .job-posting-delete-button {
    display: inline-block;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    background-color: red;
    padding:10px;
    font-weight: bold;
    margin-left: auto
 }
 
 /* Document */
 .document {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 5px;
 }

 .document-title {

 }

 .document-delete-button {
    display: inline-block;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    background-color: red;
    padding:10px;
    font-weight: bold;
    margin-left: auto
 }

 /* Chat */
 .chat-room {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 5px;
 }

 .chat-room-title {

 }

 .chat-room-edit-button {
    display: inline-block;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    background-color: #78bf26;
    padding:10px;
    font-weight: bold;
    margin-left: auto
 }

 .chat-room-delete-button {
    display: inline-block;
    cursor: pointer;
    border:rgba(0, 0, 0, .6);
    color: #000000;
    background-color: red;
    padding:10px;
    font-weight: bold;
    margin-left: auto
 }


 .flex-table {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
 }

 .table-labels {
    font-weight: bold;
 }

 .table-values {
    display: flex;
    flex-direction: column;
    width: 60%;
 }

 .edit-booth-label {
     line-height: 25px;
     font-weight: bold;
     display: flex;
 }

 .edit-booth-value {
    margin-bottom: 4px;
    margin-left: 4px;
    width: 100%
}

.edit-booth-accordian {
    margin-top: 20px;
}

.edit-job-postings-container {

}

.edit-documents-container {

}

.edit-chat-rooms-container {

}

td {
    width: 50%;
}

.edit-company-description {
    margin-left: 5px;
}

 .black-close {
    color: #000000;
 }

 .color-wall {
     width: 122px;
     height: 150px;
     position: absolute;
     right: 141px;
     z-index: 1;
 }


 .resume {
     text-align: center;
 }

 .resume-text {
     margin-bottom: 40px;
 }

 .resume-button {
     margin: 0px !important;
 }

.button-disabled {
    opacity: .5;
}

 /* Kiosk Pulse */
.blob {
	background: black;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	margin: 10px;
	height: 30px;
    width: 30px;
    min-width: 20px;
    min-height: 20px;
	transform: scale(2);
    animation: pulse-black 3s infinite;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.blob.blue {
	background: rgba(120, 120, 120, 1);
	box-shadow: 0 0 0 0 rgba(120, 120, 120, 1);
    animation: pulse-gray 3s infinite;
    border: 1px solid gray;
}

@keyframes pulse-gray {
	0% {
        transform: scale(0.5);
        opacity: 0;
		box-shadow: 0 0 0 0 rgba(120, 120, 120, 1);
	}
	
	70% {
        transform: scale(1.2);
        opacity: 1;
		box-shadow: 0 0 0 10px rgba(120, 120, 120, 0);
	}
	
	100% {
        transform: scale(0.5);
        opacity: 0;
		box-shadow: 0 0 0 0 rgba(120, 120, 120, 0);
	}
}

.fa {
    /* font-size: 9px !important; */
}

.blob-container {
    opacity: .7;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*  WOC-Lounge embedded video CSS */
#woc-lounge-frame, #woc-video-container{
    position:absolute;
    left:43.02%;
    top:34.17%;
    width:14.58%;
    height:17.59%;
}

#woc-lounge-frame {
    pointer-events: none;
}

#woc-video-container{
    box-sizing:border-box;
    padding:1px;
}

#woc-video{
    width:100%;
    height:100%;
}

.share-modal {
    color: black;
}

.share-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.share-image {
    cursor: pointer;
    width: 100px;
}

.icon-chat-small {
    width: 14px;
}

.exhibit-block-modal {
    width: 350px !important;
    height: 300px;
}

.exhibit-block-button {
    margin-top: 10px;
    cursor: pointer;
}

.attendee-iframe-modal {
    display: none;
    width: 80vw !important;
    height: 80vh;
    padding: 0px !important;
    background: black !important;
}

a {
    text-decoration: none;
}

.live-video-container {
    position: fixed;
    left: 0;
    top: 60px;
    width: 20%;
}

.live-video-aspect-ratio {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.live-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.ie-11-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ie-11-block {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* ::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
} */

.rm-lounge-banner1-button {
    top:47.93%;
    left:45.74%;
    width:15.31%;
    height:24.44%;  
}

.jj-lounge-banner1-button {
    top:23.93%;
    left:40.74%;
    width:25.31%;
    height:20.44%;  
}

.jj-lounge-banner2-button {
    top:49.93%;
    left:45.74%;
    width:15.49%;
    height:20.44%;  
}

.abbott-lounge-banner1-button {
    top:35.93%;
    left:20.74%;
    width:9.31%;
    height:23.44%; 
}

.abbott-lounge-banner2-button {
    top:35.93%;
    left:68.74%;
    width:9.31%;
    height:23.44%;  
}

.auditorium-mobile-text {
    text-align: center;
}

.modal-scroll {
    max-height: 80vh;
    overflow-y: scroll;
}

.round-button {
    display:block;
    border-radius: 50%;
    cursor: pointer;
}

.video-button {
    cursor: pointer;
    margin:10px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    color: white;
}

.video-button-thumb {
    max-height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.video-button-text {
    font-size: 20px;
}