/* Fancybox Overrides */
.fancybox-slide {
    padding: 100px;
}

.fancybox-is-open .fancybox-bg{
	opacity:.4;

}

.fancybox-content {
    background: white !important;
}

.fancybox-slide--iframe .fancybox-content {
    height: 100% !important;
}

.default-modal {
    display: none; 
    background: rgb(255, 255, 255,.85); 
    color: black;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
    max-width: 800px;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.modal-list-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal-thumb-list-item {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal-thumb-list-image {
     max-width: 30%;
}

/* TODO Revisit */
.modal-header-text {
    max-width: 30%;
}

/* TODO Revisit */
.modal-description-text {
    max-width: 30%;
}

.modal-simple-list-container {
    text-align: center;
}

.modal-simple-list-item {
    cursor: pointer;
}




/* TODO: ALL BELOW NEED REVIEW -------------------------------------*/


.modal-list-thumb {
    float: left;
    width: 30%;
    margin-right: 10px;
    vertical-align: top;
}

.modal-menu-title {
    color: #000000;
    font-weight: bold;
}

.modal-menu-description {
    padding-bottom: 20px;
}