/* TODO: may get rid of bookmark component */
.bookmark-circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: red;
    margin-right: 6px;
}

.bookmark-description {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}