* { 
  margin: 0;
  padding: 0;
  outline: 0;
 }

html { 
  background-color: #ffffff;
  height: 100.2%;
}

body {
  position: relative;
  background-color: #ffffff;
  font-family: Arial, Verdana, Tahoma, Trebuchet MS, Helvetica, sans-serif;
  font-size:14pt;
}

input {
  font-size: 14pt;
}

input[type=button], input[type=submit], input[type=reset] {
/*  background-color: #D81E05; */
  background-color: #003893;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding:5px 15px; 
  -webkit-border-radius: 20px;
  -webkit-appearance: none;
  border-radius: 20px; 
}

input[type=button].big, input[type=submit].big, input[type=reset].big {
/*  background-color: #D81E05; */
  background-color: #003893;
  font-size: 24pt;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding:5px 15px; 
  -webkit-border-radius: 20px;
  -webkit-appearance: none;
  border-radius: 20px; 
}

input[type=button].small, input[type=submit].small, input[type=reset].small {
/*  background-color: #D81E05; */
  background-color: #003893;
  font-size: 12pt;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding:3px 10px; 
  -webkit-border-radius: 10px;
  -webkit-appearance: none;
  border-radius: 10px; 
}

form {
  display:inline;
}


#wrap {
  position: relative;
  margin-top:15px;
  width: 900px;
  margin: auto;
}

#mainMenuContainer {
  position: relative;
  width: 900px;
  height: 75px;
  border-bottom: 1px solid #000000;
  margin-top:25px;
  margin-bottom: 15px;
}

#mainMenuContainer img#aaa {
  position: absolute;
  right: 0;
  top: 0;
  height: 65px;
  width: 200px;
}

#mainMenuContainer p#title {
  position: absolute;
  left: 0;
  top: 25px;
  font-size: 24px;
  font-weight: bold;
  text-transform:uppercase;
  width: 600px;
}

#footer {
  position: relative;
  width: 900px;
  height: 100px;
  margin-bottom: 100px;
  margin-top: 50px;
}

#footer img#comcast {
  position: absolute;
  right: 0;
  top: 10px;
  width: 113px;
  height: auto;
}

#content-wrap {
  position: relative;
  font-size: 14pt;
  width: 900px;
}

#content-wrap table {
  width="100%";
  border: none;
  border-collapse: collapse;
}

#content-wrap td {
  vertical-align: top;
  padding-bottom: 10px;
}

#content-wrap td.type {
  font-weight: bold;
  padding-right: 15px;
  border: none;
}

#content-wrap td.entry {
  font-weight: normal;
  padding-right: 15px;
  border: none;
}

#content-wrap td.disclaimer {
  font-weight: normal;
  font-size: 12pt;
  padding-right: 15px;
  border: none;
}

#content-wrap p#fieldname {
  font-weight: bold;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

#content-wrap p#note {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 0px;
}

#content-wrap select {
  position: relative;
  width: 600px;
  font-size: 14pt;
}

#content-wrap select.noexp {
  position: relative;
  width: auto;
  font-size: 14pt;
}

#sep {
  height: 1px;
  width: 900px;
  border-bottom: 1px solid #000000;
  margin-top: 3px;
  margin-bottom: 3px;
}

#err {
  color: #FF0000;
  font-weight: bold;
  font-size: 14pt;
}

input.name {
  width: 200px;
}

input.address {
  width: 570px;
}

input.city {
  width: 225px;
}

input.state {
  width: 40px;
}

input.zip {
  width: 103px;
}

input.phone {
  width: 200px;
}

input.ttc {
  width: 155px;
}

#question {
  font-weight: bold;
  margin-bottom: 25px;
}

#answers {
  font-weight: normal;
  font-size: 14px;
}

#answers input[type=checkbox] {
  margin-right: 10px;
}

input[type=checkbox] {
  margin-right: 10px;
}

table {
  border: none;
  border-collapse: collapse;
  margin-bottom: 3px;
}

table.wide {
  border: none;
  border-collapse: collapse;
  margin-bottom: 3px;
  width:90%;
}

td {
  font-size: 14pt;
  padding-right: 10px;
  padding-bottom: 3px;
}
.hidden{
	display:none;
}
:lang(es){
	display:none;
}
.required{
  box-shadow: 0 0 5px 2px red;
  background:red;
}

textarea {
  width: 450px;
  height: 60px;
  color: #000000;
  text-transform: none;
  font-family: Arial, Verdana, Tahoma, Trebuchet MS, Helvetica, sans-serif;
  font-size: 14pt;
}

textarea.full {
  width: 100%;
  height: 100px;
  color: #000000;
  text-transform: none;
  font-family: Arial, Verdana, Tahoma, Trebuchet MS, Helvetica, sans-serif;
  font-size: 10pt;
}

h1 {
  font-family: Arial, Verdana, Tahoma, Trebuchet MS, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 15px;
}

h2 {
  font-family: Arial, Verdana, Tahoma, Trebuchet MS, Helvetica, sans-serif;
  font-size: 24pt;
  font-weight: bold;
  margin-bottom: 15px;
}

h3 {
  font-family: Arial, Verdana, Tahoma, Trebuchet MS, Helvetica, sans-serif;
  font-size: 20pt;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

#loginblock {
  width: 80%;
  font-size: 14pt;
  margin: 0 auto;
  margin-top: 20px;
}

#loginblock h1 {
  font-size: 16pt;
}

#loginblock table {
  width:auto;
}

#loginblock td.left {
  font-weight: bold;
  font-size: 14pt;
  padding-right: 20px;
}
  
#loginblock td.right {
  font-weight: normal;
  font-size: 14pt;
}

table.eventlist {
  position: relative;
  border-collapse: collapse;
  border: none;
  width:100%;
}

table.eventlist th {
  font-weight: bold;
  text-align: left;
  padding-right: 3px;
  padding-left: 3px;
  border-bottom: 1px solid #000000;
}

table.eventlist td {
  font-weight: normal;
  text-align: left;
  padding-right: 3px;
  padding-left: 3px;
  padding-top: 5px;
  padding-bottom: 0px;
  border-bottom: 1px solid #000000;
  vertical-align:middle;
}
  
ul {
  margin-left: 20px;
}
  
#cardprompt {
  position: absolute;
  width: 160px;
  top: 0px;
  right: 20px;
}

table.msgtable {
  border: 1px solid #222222;
  border-collapse: collapse;
  margin-bottom: 3px;
  width:100%;
}

table.msgtable tr {
  border: 1px solid #222222;
}

table.msgtable th {
  border: none;
  font-weight: bold;
  text-align: left;
  vertical-align: bottom;
  padding: 0 0 0 0;
}

table.msgtable td.odd {
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 1px;
  border: none;
  background: #ffffff;
  font-weight: bold;
  height: auto;
}

table.msgtable td.even {
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 1px;
  border: none;
  background: #cccccc;
  font-weight: bold;
  height: auto;
}

